.Home {
  height: 100vh;
  display: flex;
  padding-top: 3em;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.Home__picture {
  width: 14em;
  margin-bottom: 1.125em;
}

.Home__picture img {
  display: block;
  margin: 0;
  width: 100%;
}

.Home__subtitle {
  opacity: 0.85;
  margin: 0;
  margin-bottom: 1em;
}

.Home form {
  margin-bottom: 2em;
}
