.Home {
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  row-gap: 0.75em;
  align-items: center;
  color: white;
}

.Home__picture {
  width: 16rem;
  margin-bottom: 1.125em;
}

.Home__picture img {
  display: block;
  margin: 0;
  width: 100%;
}

.Home__subtitle {
  opacity: 0.85;
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.Home form {
  margin-bottom: 2em;
  width: 100%;
  max-width: 40rem;
}

.Home__searches {
  min-height: 7.5rem;
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: start;
  gap: 0.5em 1em;
  animation: fadeIn 240ms linear;
}

.Home__searches a {
  font-size: 1.2rem;
  color: var(--font-color);
  text-decoration: underline;
}

.Home__searches a:hover {
  color: var(--primary-color);
}
