.SearchFeed {
  padding-top: calc(7.5rem + 2em);
  display: flex;
  flex-direction: column;
}

.Search__interacions-search {
  width: 50%;
  max-width: 42rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.Search__show-result {
  font-size: 1.5em;
}

.Search__show-result span {
  font-weight: 600;
}
