.Grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2em 1em;
}

.Grid__name {
  grid-column: 1 / -1;
  font-size: 1.125em;
  font-weight: 600;
}

.Grid .card {
  width: 100%;
  min-height: 28rem;
  border-radius: 0.25em;
  background-color: var(--body--color-alt);
  box-shadow: var(--shadow);
}
