.Search {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
}

.Search form {
  width: 50%;
  max-width: 42rem;
  align-self: center;
}

.Search__show-result {
  font-size: 1.5em;
}

.Search__show-result span {
  font-weight: 600;
}

.Search__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2em 1em;
}

.Search .card {
  width: 100%;
  min-height: 28rem;
  border-radius: 0.25em;
  background-color: var(--body--color-alt);
  box-shadow: var(--shadow);
}
