.Detail {
  padding: 1.25em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Detail__item {
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1em;
}

.Detail__item img {
  width: 100%;
  max-width: 80rem;
  aspect-ratio: 16/9;
  margin-inline: auto;
  border-radius: var(--radius);
  background-color: var(--primary--color);
}
