.SearchBar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  padding-block: 1em;
  overflow: hidden;
  background-color: var(--body--color);
  transition: background-color 420ms ease-in-out;
}

.SearchBar.is-transparent {
  background-color: hsla(220, 13%, 18%, 0.2);
  backdrop-filter: blur(10px);
}

.SearchBar .Logo {
  width: 6rem;
  height: 6rem;
  flex-grow: 0;
}

.SearchBar .container {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

.SearchBar .form {
  display: flex;
  column-gap: 1em;
  flex-grow: 1;
  margin-inline: auto;
}

.SearchBar .form__input {
  flex-grow: 1;
  box-shadow: none;
}
.SearchBar .form__input,
.SearchBar .form__submit {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .SearchBar {
    height: 7.5rem;
    padding-block: 0;
  }

  .SearchBar .form {
    flex-flow: row nowrap;
  }
}
