#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

.container {
  width: 100%;
  max-width: 102.4rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1em;
}

.alert {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.315em;
  color: var(--error-color);
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
